html {
  scroll-behavior: auto;
}
html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  @extend %NM-400;
  font-size: 16px;
  line-height: 1.2;
  color: $black;
  position: relative;
  &.lock {
    overflow: hidden;
  }
}
a {
  color: inherit;
}
.main {
  flex-grow: 1;
}
.container {
  max-width: 1440px;
  padding: 0 100px;
  margin: 0 auto;
}
.container-xl {
  max-width: 1460px;
  padding: 0 10px;
  margin: 0 auto;
}

.title {
  display: block;
  @extend %NM-400;
  font-size: 43px;
  line-height: 1.2;
  letter-spacing: -0.01em;
  position: relative;
  padding-right: 230px;
  width: fit-content;
  &::after {
    position: absolute;
    content: "";
    width: 230px;
    height: 1.5px;
    right: -30px;
    background-color: $grey-accent;
    top: 50%;
    transform: translateY(-50%);
  }
}

@media (max-width: 1300px) {
  .container {
    padding: 0 40px;
  }
}
@media (max-width: 548px) {
.container {
    padding: 0 15px;
  }
  .title {
    padding-right: 210px;
    font-size: 36px;
    &::after {
      width: 180px;
      right: 0;
    }
  }
}