
.header {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  padding: 10px 10px 0 10px;
  &__wrapper {
    background-image: url('../images/content/header-bg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 70vh;
    position: relative;
    border-radius: 20px;

  @media (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi) {
      background-image: url('../images/content/header-bg@x2.jpg');
    }
  }
  &__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 14px 0 40px;
    max-width: 1420px;
    margin: 0 auto;
  }
  &__title {
    @extend %YO-400;
    font-size: 54px;
    text-align: center;
    color: $white;
    max-width: 368px;
  }
  &__text-box {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    position: absolute;
    bottom: 70px;
  }
  &__inner {
    display: flex;
    justify-content: space-between;
  }
  &__bottom {
    max-width: 1440px;
    padding: 40px 100px 0 100px;
    margin: 0 auto;
  }
  &__content {
    max-width: 749px;
    padding-right: 25px;
    margin-bottom: 70px;
    
    p {
      font-size: 24px;
      line-height: 1.3;
    }
  }
  &__video-block {
    background-image: url('../images/content/header-video.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    min-width: 395px;
    height: 190px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;

    @media (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi) {
      background-image: url('../images/content/header-video@x2.jpg');
    }
  }
  .vilas-description {
    
    display: flex;
    align-items: center;
    &__header {
      margin-top: -25px;
    }
    &__item {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-right: 20px;
      padding-left: 20px;
      position: relative;
      font-size: 22px;
  
      &::after {
        position: absolute;
        content: '';
        width: 4px;
        height: 4px;
        background-color: $black;
        top: 50%;
        transform: translateY(-50%);
        right: 0px;
        border-radius: 50%;
      }
  
      &:last-child {
        padding-right: 0;
  
        &::after {
          display: none;
        }
      }
  
      &:first-child {
        padding-left: 0;
      }
  
      &--rooms {
        font-size: 16px;
        color: $grey;
      }
    }
  }
}
.menu {
  &__block {
    background-color: $white;
    width: 516px;
    padding: 24px;
    border-radius: 100px 100px;
  }
  &__btn {
    display: none;
    &:hover {
      font-weight: 700;
    }
  }
  &__logo {
    display: none;
  }
  &__list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
  }

  &__link {
    @extend %NM-400;
    color: $black;
    font-size: 16px;
    @extend %capitalaize;
    padding: 8px 12px;
    &--active {
      @extend %NM-700;
    }

    &:hover {
      @extend %NM-700;
    }
  }
  &__contact-box {
    display: none;
    flex-direction: column;
    align-items: center;
    gap: 14px;
  }
  &__contact-title {
    font-size: 20px;
  }
  &__contact-adress,
  &__contact-tel {
    font-size: 17px;
  }
  &__contact-email {
    font-size: 18px;
    display:inline-block;
  }
  &__contact-tel {
    display: inline-block;
  }
}

@media (max-width: 1150px) {
  .header {
    &__inner {
      align-items: center;
    }
    &__bottom {
      padding-left: 40px;
      padding-right: 40px;
    }
    &__content {
      margin-bottom: 0;
      padding-right: 10px;
    }
    .vilas-description {
      justify-content: center;
      &__header {
        margin-top: 0;
        padding-top: 40px;
      }
    }
  }
}
@media (max-width: 1024px) {
  .header {
    &__wrapper {
      background-size: cover;
  
      @media (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi) {
        background-image: url('../images/content/header-bg@x2-l.jpg');
      }
    }
  }
}
@media (max-width: 814px) {
  .header {
    &__inner {
      align-items: center;
    }
    &__content {
      p {
        font-size: 18px;
      }
    }
  }
  .menu {
    &__block {
      width: 426px;
    }
    &__list {
      gap: 15px;
    }
  }
}

@media (max-width: 680px) {
  .header {
    padding: 0;
    
    &__inner {
       flex-wrap: wrap;
       justify-content: center;
       gap: 40px;
       margin-bottom: 40px;
    }
    &__title {
      white-space: pre-line;
      padding: 0 50px;
    }
    &__video-block {
      order: 1;
      width: 295px;
    }
    &__content {
      order: 2;
    }
    .vilas-description {
      &__header {
        padding-top: 0;
        flex-direction: column;
      }
      &__item {
        padding: 15px 0;

        &::after {
          top: auto;
          bottom: 0;
          transform: translateX(-50%);
          right: 50%;
          border-radius: 50%;
        }

        &:last-child {
          padding-bottom: 0;

          &::after {
            display: none;
          }
        }

        &:first-child {
          padding-top: 0;
        }

        &--rooms {
          font-size: 16px;
          color: $grey;
        }
      }
    }
  }
  .menu {
    &__block {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      height: 100vh;
      width: 100vw;
      border-radius: 0;
      padding: 40px;
      background-color: $white;
      z-index: 100;
      transform: translateY(-200%);
      transition: transform .5s;
    
      &--active {
        transform: translateY(0);
      }

    }
    &__list {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 14px;
    }
    &__link {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 74px;
      padding: 0;
    }
    &__contact-box {
      display: flex;
    }
    &__btn {
      display: inline-block;
      background-color: $white;
      border: none;
      border-radius: 50%;
      width: 64px;
      height: 64px;
      color: $black;
      z-index: 105;
    
      &--active {
        position: relative;
        border: 1px solid $black;
        p {
          display: none;
        }
        &::before {
          position: absolute;
          content: "";
          background-image: url('../images/icon/close-btn.svg');
          width: 33px;
          height: 16px;
          top: 50%;
          bottom: 0;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }
    }
    &__logo {
      display: block;;
      width: 76px;
      height: 65px;
      object-fit: cover;
    }
  }
}
@media (max-width: 548px) {
  .header {
    &__wrapper {
      border-radius: 0;
      height: 100vh;
      background-size: 100% 100vh;
  
      @media (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi) {
        background-image: url('../images/content/header-bg@x2-s.jpg');
      }
    }
    &__video-block {
      height: 142px;
      min-width: auto;
      @media (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi) {
        background-image: url('../images/content/header-video@x2-s.jpg');
      }
    }
  }
}