
.header {
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  min-height: 100%;

}


.menu {
  &__btn {
    display: none;
  }

  &__block {
    display: flex;
    align-items: center;
    gap: 50px;
  }

  &__list {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  &__link,
  &__lang-link {
    @extend %Montserrat-700;
    letter-spacing: .02em;

    &--active {
      color: $blue;
    }

    &:hover {
      color: $blue;
    }
  }

  &__link {
    @extend %uppercase;
  }

  &__lang-link {
    @extend %capitalaize;
  }

  &__lang-list {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  &__lang-item {
    padding-right: 10px;
    position: relative;

    &::after {
      position: absolute;
      content: "";
      width: 2px;
      height: 100%;
      top: 0;
      right: 0;
      background-color: $white;
    }

    &:last-child {
      padding-right: 0;

      &::after {
        display: none;
      }
    }
  }
}

