.about {
  padding-top: 160px;
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__video-block {
    background-image: url('../images/content/about-video.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    min-width: 530px;
    min-height: 594px;
    height: auto;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;

    @media (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi) {
      background-image: url('../images/content/about-video@x2.jpg');
    }
  }
  &__content {
    margin-left: 10px;
    max-width: 620px;
  }
  &__content-text {
    font-size: 32px;
    line-height: 1.3;
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-bottom: 60px;
  }
  &__content-link {
    display: inline-block;
    padding: 20px 100px 20px 57px;
    border: 1.5px solid $black;
    border-radius: 100px;
    cursor: pointer;
    background: $white;
    background-color: $white-accent;
    position: relative;
    &::after {
      position: absolute;
      content: '';
      width: 33px;
      height: 16px;
      right: 58px;
      background-image: url('../images/icon/arrow-rigth.svg');
      top: 50%;
      transform: translateY(-50%);
    }
  }
}

.location {
  padding-top: 160px;
  &__inner {
    display: flex;
  }
  &__content {
    width: 530px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 80px;
  }
  &__title {
    margin-bottom: 100px;
  }
  &__descr {
    font-size: 32px;
  }
  &__map-img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 12px;
    overflow: hidden;
  }
  &__img {
    width: auto;
    img {
      width: 100%;
      height: auto;
      object-fit: cover;
    }
  }
  &__block-link {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__pre-title {
    font-size: 12px;
    color: $blue;
    margin-bottom: 5px;
  }
  &__link-title {
    font-size: 22px;
    margin-bottom: 5px;
  }
  &__sub-title {
    font-size: 22px;
    color: $grey;
  }
  &__link-map {
    display: inline-block;
    padding: 20px 85px 20px 42px;
    border: 1.5px solid $black;
    border-radius: 100px;
    cursor: pointer;
    background: $white;
    background-color: $white-accent;
    position: relative;
    @extend %capitalaize;
    &::after {
      position: absolute;
      content: '';
      width: 33px;
      height: 16px;
      right: 42px;
      background-image: url('../images/icon/arrow-rigth.svg');
      top: 50%;
      transform: translateY(-50%);
    }
  }
  &__img-block {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 630px;
  }
}
.rooms {
  padding-top: 160px;
  &__title {
    margin-bottom: 80px;
  }
  &__inner {
    display: flex;
    align-items: center;
  }
  &__img {
    img {
      width: 100%;
      height: auto;
      object-fit: cover;
    }
  }
  .vilas-description {

    display: flex;
    align-items: center;

    &__header {
      margin-top: -25px;
    }

    &__item {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-right: 20px;
      padding-left: 20px;
      position: relative;
      font-size: 22px;

      &::after {
        position: absolute;
        content: '';
        width: 4px;
        height: 4px;
        background-color: $black;
        top: 50%;
        transform: translateY(-50%);
        right: 0px;
        border-radius: 50%;
      }

      &:last-child {
        padding-right: 0;

        &::after {
          display: none;
        }
      }

      &:first-child {
        padding-left: 0;
      }

      &--rooms {
        font-size: 16px;
        color: $grey;
      }
    }
  }
  &__descr {
    width: 552px;
    margin-left: 80px;
  }
  &__descr-title {
    @extend %NM-400;
    font-size: 22px;
    margin: 40px 0;
  }
  &__descr-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px 0px;
    align-items: center;
    font-size: 22px;
  }
  &__descr-item {
    display: flex;
    align-items: center;
    gap: 20px;
  }
}

.rooms-tabs {
  padding-top: 80px;
  &__nav {
    display: flex;
    align-items: center;
    gap: 28px;
    overflow-x: auto;
    border-bottom: 1px solid #ccc;
    margin: 0 auto 40px auto;
    &::-webkit-scrollbar {
      display: none;
    }
  }
  &__button {
    @extend %NM-400;
    font-size: 22px;
    white-space: nowrap;
    text-decoration: none;
    padding: 0 14px 20px 14px;
    margin-bottom: -1px;
    color: $black;
    opacity: 0.6;
    @extend %capitalaize;
    background-color: transparent;
    border: none;
    position: relative;
    cursor: pointer;
    &--active {
      opacity: 1;
      border-bottom: 3px solid $black;
    }
  }
  &__content {
    padding-bottom: 10px;
  }
  &__panel {
    display: none;
    img {
      width: 100%;
      height: auto;
      object-fit: cover;
      border-radius: 10px;
    }

    &--active {
      display: block;
    }
  }
  .slick-slide {
    width: auto;
  }
  &__card {
    width: 100%;
    padding: 0 10px 0 5px;
  }
  &__card-titlebox {
    margin-top: 18px;
  }
  &__card-pretitle {
    font-size: 12px;
    margin-bottom: 5px;
    color: $blue;
  }
  &__card-title {
    font-size: 22px;
    @extend %NM-400;
  }
}

@media (max-width: 1320px) {
  .about {
    padding-top: 105px;
    &__inner {
      display: block;
    }
    &__video-block {
      width: 100%;
      margin-bottom: 40px;
    }
    &__content-text {
      margin-bottom: 60px;
    }
    &__content {
      margin-left: 0;
    }
  }
}

@media (max-width: 1180px) {
  .location {
    &__inner {
      justify-content: space-between;
    }
    &__content {
      margin-right: 30px;
    }
  }
  .rooms {
    &__img {
      width: 40%;
    }
  }
}
@media (max-width: 1024px) {
  .about {
    &__video-block {
      background-size: 100% auto;

      @media (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi) {
        background-image: url('../images/content/about-video@x2-l.jpg');
      }
    }
  }
  .rooms {
    &__inner {
      display: block;
    }

    &__img {
      width: 100%;
    }

    &__descr {
      margin-left: 0;
      padding-top: 40px;
      width: 100%;
    }
  }
}
@media (max-width: 990px) {
  .location {
    &__inner {
      display: block;
    }
    &__title,
    &__descr {
      margin-bottom: 80px;
    }
    &__content {
      margin-bottom: 80px;
      margin-right: 0;
      width: 100%;
    }
    &__map-img {
      width: 100%;
    }
    &__block-link {
      margin-top: 20px;
    }
    &__img-block {
      max-width: 100%;
    }
  }

}
@media (max-width: 814px) {
  .about,
  .location,
  .rooms {
    padding-top: 100px;
  }
}
@media (max-width: 680px) {
  .about {
    &__video-block {
      min-width: 100%;
      min-height: 250px;
    }
    &__content-text {
      font-size: 24px;
      margin-bottom: 40px;
    }
  }
  .rooms {
    &__inner {
      margin-bottom: 40px;
    }
    &__descr-list {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }
  }
  
}
@media (max-width: 548px) {
  .about {

    &__video-block {
      background-size: 100% auto;

      @media (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi) {
        background-image: url('../images/content/about-video@x2-s.jpg');
      }
    }
  }
  .location {
    &__title,
    &__descr,
    &__content,
    &__link-decsr {
      margin-bottom: 40px;
    }
    &__block-link {
      display: block;
    }
    &__descr {
      font-size: 24px;
    }
  }
  .rooms {
    .vilas-description {
      &__item--rooms {
        padding-left: 12px;
        padding-right: 12px;
        font-size: 14px;
        &:last-child {
          padding-right: 0;
      
          &::after {
            display: none;
          }
        }
      
        &:first-child {
          padding-left: 0;
        }
      }
    }
  }
  .rooms-tabs {
    .slick-slide {
      width: 343px;
    }
    &__cards {
      width: 343px;
    }
  }
}