
$black: #292725;
$white: #fff;
$grey: #7C7C7C;
$grey-accent: #DDDDDD;
$blue: #375EFE;


%NM-400 {
  font-family: 'NeueMontreal-Regular';
  font-weight: 400;
}
%YO-400 {
  font-family: 'YesevaOne-Regular';
  font-weight: 400;
}

 %checkbox-hidden,
 %radio-hidden {
   width: 1px;
   height: 1px;
   overflow: hidden;
   clip: rect(0 0 0 0);
   position: absolute;
 }
 %uppercase{
   text-transform: uppercase;
 }
 %capitalaize {
  text-transform: capitalize;
 }

 %visual-hiden {
    width: 1px;
    height: 1px;
    margin: -1px;
    clip: rect(0 0 0 0);
    position: absolute;
 }